* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px Arial, Helvetica, sans-serif;
  background: rgb(90, 87, 87);
  color: rgb(238, 207, 29);

  h1 {
    font-size: 80px;
  }
}